<!doctype html>
<html>
<head>
	<title>Profile</title>

	<link rel="apple-touch-icon" sizes="57x57" href="favicon_imgs/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon_imgs/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon_imgs//apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon_imgs/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon_imgs/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon_imgs/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon_imgs/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon_imgs/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon_imgs/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="favicon_imgs/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon_imgs/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon_imgs/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon_imgs/favicon-16x16.png">
	<link href="css/creative.min.css" rel="stylesheet">
	<link rel="manifest" href="favicon_imgs/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="favicon_imgs/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="bundle.js"> </script>
    <link rel="stylesheet" href="./awesomplete-gh-pages/awesomplete.css" rel="stylesheet">
 	<script src = "./awesomplete-gh-pages/awesomplete.js" async></script>

	<style>
		body 		{ padding-top:0px; word-wrap:break-word; }
		tr{
			height:50px;
			font-size:20px;
		}
		.form-control {
			border: 1px solid black;
			border-radius: initial !important;
		}

		.btn-submit {
			border: 1px solid black;
			color: black;
			border-radius: initial !important;
			background-color: transparent;
		}
		.btn-submit:hover, .btn-submit:focus {
			border-color: black;
			background-color: rgb(221, 221, 221);
			color: black;
		}
		/*textarea {*/
    		/*resize: none;*/
		/*}*/
	</style>
</head>

<body>
<div class="container">

	<div class="page-header text-center">
		<h1 id="title">Admin Page</h1>
		<a href="/"><button onclick = "logout()" style="padding:7px; background-color:#fff; border-color:#ccc;  border-radius:3px;">Logout</button></a>
	</div>

	<button id="revealButton" onclick="revealAdd()"> Add people </button>
	<script>
	function revealAdd(){
		if(document.getElementById("revealButton").innerHTML == "hide"){
			document.getElementById("addSection").style.display = "none";
			document.getElementById("revealButton").innerHTML = "add people"
		}
		document.getElementById("addSection").style.display = "blockblock";
		document.getElementById("revealButton").innerHTML = "hide"
	}
	</script>
	<hr>
	<div class="row" id="addSection" style="display: none;">
		<div class="col-sm-6">
			<div class="well">
				<h3>
					Add
				</h3>
				<table>
					<tr>
						<td>
							<input id="registerName" placeholder = "Name" style="width:500px"></input>
						</td>
					</tr>

					<tr>
						<td>
							<input id="registerNutrition" placeholder = "Nutrition" style="width:500px"></input>
						</td>
					</tr>

					<tr>
						<td>
							<input id="registerDebt" placeholder = "Debt Help" style="width:500px"></input>
						</td>
					</tr>

					<tr>
						<td>
							<input id="registerHealth" placeholder = "Healthcare" style="width:500px"></input>
						</td>
					</tr>
					
					<tr>
						<td>
							<input id="registerHouse" placeholder = "Housing" style="width:500px"></input>
						</td>
					</tr>

					<tr>
						<td>
						<button onclick="register()"> save </button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-12">
			<div class="well">
				<h3 style="text-align:center">
				People
				</h3>
				<table id="table" style="width:100%; background-color:rgba(); border:1px">
					<tr>
					
					<td>
					Name
					</td>
					
					<td>
					Nutrition
					</td>
					
					<td>
					Debt Help
					</td>
					
					<td>
					Healthcare
					</td>

					<td>
					Housing
					</td>

					<td>

					</td>

					</tr>
				</table>
			</div>
		</div>

		<!-- <div class="col-sm-6">
			<div class="well">
				<h3>Create new project</h3>
				<label> Name </label>
				<input type="text" id="projectName" placeholder="Project Name" style="width:100%; border-radius:2px; border-width:1px"> 
				<label id="profile">Category</label>
				<select name="category" class="form-control" id="category">
					<option value="Initiator">Biology</option>
					<option value="Contributor">Economics</option>
					<option value="Match">Environmental Science</option>
					<option value="Mathematics">Mathematics</option>
					<option value="Physics">Physics</option>
					<option value="Business">Business</option>
					<option value="Education">Education</option>
					<option value="Arts">Fine Arts</option>
					<option value="Medicine">Medicine</option>
					<option value="Psychology">Psychology</option>
					<option value="Chemistry">Chemistry</option>
					<option value="Engineering">Engineering</option>
					<option value="History">History</option>
					<option value="Music">Music</option>
					<option value="Social Science">Social Science</option>
					<option value="Compsci">Computer Science</option>
					<option value="English">English</option>
					<option value="Law">Law</option>
					<option value="Neurobiology">Neurobiology</option>
					<option value="Sports">Sports</option>
				</select>

				<label id="profile">Description</label>
			    <textarea rows="5" type="text" style="width:100%; border-radius:5px; border-width:0px" id="projectDescription"placeholder="Description"></textarea>
			    <label id="profile">Add Other Users</label><br>
				<input class="awesomplete" rows="2" style="width:100%; border-radius:5px; border-width:0px" id="addUsers"></input>
			    <input class="awesomplete" rows="2" style="width:100%; border-radius:5px; border-width:0px" id="user"></input>
			    <input class="awesomplete" rows="2" style="width:100%; border-radius:5px; border-width:0px" id="user"></input>
			    <div id="error2"> </div>
			   	<button onclick="saveInfo()" style="padding:7px; margin-top:5px; background-color:#fff; border-color:#ccc; border-radius:3px;">Save </button>
			</div> -->
		</div>
	</div>

	<!-- <div class="row">
		<div class="col-sm-6">
			<div class="well" style="height:500px">
				<h3>Your projects</h3>
				<div id="table2">
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well" style="height:500px">
				<h3>Other projects</h3>
				<div id="table">
				</div>
			</div>
		</div>
	</div> -->
</div>

<script>
var firebase = require("/node_modules/firebase");
var ref = new firebase("https://palylaunch.firebaseio.com/");
var authData = ref.getAuth();
var numberOfProjects = 0;
var numberOfYourProjects=0;
var userlist = "";

ref.child("projects").once("value", function(snapshot) {
  snapshot.forEach(function(childSnapshot) {
    var key2 = childSnapshot.key();
    numberOfProjects += 1
    var childData = childSnapshot.val();
    $('#table').append('<tr class="col-sm-12" style="color:black; border-color:black; border-width:2px; padding:2px; border-radius:5px">' + '<td><input placeholder="' + childData.name + '"></input></td><td><input placeholder="' + childData.nutrition + '"></input></td><td><input placeholder="' + childData.debt + '"></input></td> <td><input placeholder="' + childData.healthcare + '"></input></td> <td><input placeholder="' + childData.housing + '"></td><td><button onclick="changeData('+childData.creator+'"> Save </button></td></tr>');
    
    document.getElementById("joinProject").addEventListener("click", function() {
		console.log(authData.uid);
		var arr = [];
		ref.child("users").child(authData.uid).child("projects").once("value", function(snapshot){
			snapshot.forEach(function(childSnapshot){
				var key3 = childSnapshot.key()
				console.log(key3);
				arr.push(key3)
			})
		});

		var sketch = 0;
		for (var x = 0; x< arr.length; x++){
			sketch = sketch + 1;
			console.log(childData.category);
			console.log(sketch)
			console.log(arr.length);
			if(sketch == arr.length){
				console.log(key2);
				ref.child("users").child(authData.uid).child("projects").child(key2).set({
					name:key2,
					category:childData.category,
					description:childData.Description
				})
			}
		}	
	}, false);
  });
});

// ref.child("users").child(authData.uid).on("value", function(snapshot) {
// 	document.getElementById("title").innerHTMl = snapshot.val().firstname;
// }, function (errorObject) {
// 		console.log("The read failed: " + errorObject.code);
// });


function EL(id) { return document.getElementById(id); } // Get el by ID helper function

var imagebase64 = "";

function readFile() {
  if (this.files && this.files[0]) {
    var FR= new FileReader();
    FR.onload = function(e) {
      EL("img").src       = e.target.result;
      imagebase64 = e.target.result;
    };       
    FR.readAsDataURL( this.files[0] );
  }
}

EL("inp").addEventListener("change", readFile, false);

function saveInfo(){
	var e = document.getElementById("category")
	var strUser = e.options[e.selectedIndex].value;
	if(strUser!="Select your type"){
		ref.child("projects").child(document.getElementById("projectName").value).set({
			name:document.getElementById("projectName").value,
			category:strUser,
			Description:document.getElementById("projectDescription").value,
			creator:authData.uid
		})
	}
}

function saveType(){
	var e = document.getElementById("role");
	var strUser = e.options[e.selectedIndex].value;
	if(strUser!="Select your type" || imagebase64 != ""){
		console.log(strUser)
		console.log(imagebase64)
		console.log(authData.uid);
    	ref.child("users").child(authData.uid).push({
			Image: imagebase64,
	    	Description: document.getElementById("onesentencedescription").value,
	    	Role: strUser
		})
	}
	else{
		document.getElementById("error1").innerHTML = "Please fill all required fields";
	}
	
}

function register(){
	ref.child("users").child(document.getElementById("registerName").value).set({
			name:document.getElementById("registerName").value,
			nutrition:document.getElementById("registerNutrition").value,
			debt:document.getElementById("registerDebt").value,
			healthcare:document.getElementById("registerHealth").value,
			housing:document.getElementById("registerHouse").value
		})
}

function logout(){
	ref.unauth();
}
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</body>
</html>
