<!doctype html>
<html>
<head>
	<title>Profile</title>

	<link rel="apple-touch-icon" sizes="57x57" href="favicon_imgs/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon_imgs/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon_imgs//apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon_imgs/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon_imgs/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon_imgs/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon_imgs/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon_imgs/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon_imgs/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="favicon_imgs/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon_imgs/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon_imgs/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon_imgs/favicon-16x16.png">

	<link href="css/creative.min.css" rel="stylesheet">
	<link rel="manifest" href="favicon_imgs/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="favicon_imgs/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="bundle.js"> </script>
    <link rel="stylesheet" href="./awesomplete-gh-pages/awesomplete.css" rel="stylesheet">
 	<script src = "./awesomplete-gh-pages/awesomplete.js" async></script>

	<style>
		body 		{ padding-top:0px; word-wrap:break-word; }
		tr{
			height:50px;
			font-size:20px;
		}
		.form-control {
			border: 1px solid black;
			border-radius: initial !important;
		}

		.btn-submit {
			border: 1px solid black;
			color: black;
			border-radius: initial !important;
			background-color: transparent;
		}
		.btn-submit:hover, .btn-submit:focus {
			border-color: black;
			background-color: rgb(221, 221, 221);
			color: black;
		}
		/*textarea {*/
    		/*resize: none;*/
		/*}*/
	</style>
</head>

<body>
<div class="container">

	<div class="page-header text-center">
		<h1 id="title">Admin Page</h1>
		<a href="/"><button style="padding:7px; background-color:#fff; border-color:#ccc;  border-radius:3px;">Logout</button></a>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="well">
				<h3 style="text-align:center">
				People
				</h3>
				<input placeholder="search" id="search"> </input>
				<button style="background:white; " onclick="search()"> Search</button>
				<script>
					function search(){
						document.ready(() => {
							$('#search').submit(()=> {
								array = read(document.getElementById("search").value)
								document.getElementById("titleName").value = array[0]
								document.getElementById("name").placeholder = array[0]
								document.getElementById("nutrition").placeholder = array[1];
								document.getElementById("debt").placeholder = array[2];
								document.getElementById("health").placeholder = array[3];
								document.getElementById("house").placeholder = array[4];

								document.getElementById("titleName").style.display = "block";
								document.getElementById("data").style.display = "block";
								document.getElementById("saveButton").style.display = "block";
							});
						});
					}
				</script>
				<h3 style="display:none" id="titleName">  </h3>
				<table style="display:none" id="data">
					<tr>
						<td>
							<input id="name"> Hi</input>
						</td>
						<td>
							<input id="nutrition"> Hi</input>
						</td>
						<td>
							<input id="debt"> Hi</input>
						</td>
						<td>
							<input id="health"> Hi</input>
						</td>
						<td>
							<input id="house"> Hi</input>
						</td>
					</tr>
				</table>
				<button id="saveButton" style="display:none; background:white;" onclick="changeInfo(document.getElementById("titleName").value)"> Save </button>
			</div>
		</div>
	</div>

	<button id="revealButton" onclick="revealAdd()"> Add people </button>
	<script>
	function revealAdd(){
		if(document.getElementById("revealButton").innerHTML == "hide"){
			document.getElementById("addSection").style.display = "none";
			document.getElementById("revealButton").innerHTML = "add people"
		}
		else{
			document.getElementById("addSection").style.display = "block";
			document.getElementById("revealButton").innerHTML = "hide"
		}
	}
	</script>
	<hr>


	<div class="row" id="addSection" style="display: none;">
		<div class="col-sm-12">
			<div class="well">
				<h3>
					Add
				</h3>
				<table>
					<tr>
						<td>
							<input id="registerName" placeholder = "Name" style="width:500px"></input>
						</td>
					</tr>

					<tr>
						<td>
							<input id="registerNutrition" placeholder = "Nutrition" style="width:500px"></input>
						</td>
					</tr>

					<tr>
						<td>
							<input id="registerDebt" placeholder = "Debt Help" style="width:500px"></input>
						</td>
					</tr>

					<tr>
						<td>
							<input id="registerHealth" placeholder = "Healthcare" style="width:500px"></input>
						</td>
					</tr>
					
					<tr>
						<td>
							<input id="registerHouse" placeholder = "Housing" style="width:500px"></input>
						</td>
					</tr>

					<tr>
						<td>
						<button onclick="register()"> save </button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<!-- <div class="row">
		<div class="col-sm-6">
			<div class="well" style="height:500px">
				<h3>Your projects</h3>
				<div id="table2">
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well" style="height:500px">
				<h3>Other projects</h3>
				<div id="table">
				</div>
			</div>
		</div>
	</div> -->
</div>

<script>
var firebase = require("/node_modules/firebase");
var ref = new firebase("https://palylaunch.firebaseio.com/");
var authData = ref.getAuth();

function register(){
	// ref.child("users").child(document.getElementById("registerName").value).set({
	// 	name:document.getElementById("registerName").value,
	// 	nutrition:document.getElementById("registerNutrition").value,
	// 	debt:document.getElementById("registerDebt").value,
	// 	healthcare:document.getElementById("registerHealth").value,
	// 	housing:document.getElementById("registerHouse").value
	// })
	console.log(document.getElementById("registerName").value)
	info = [document.getElementById("registerName").value, document.getElementById("registerNutrition").value, document.getElementById("registerDebt").value, document.getElementById("registerHealth").value, document.getElementById("registerHousing")];

    $.post("/update",{info:info},
    function(data, status){
		console.log(data);
		console.log(status);
    });

	console.log("hi")
	document.getElementById("registerName").innerHTML = "";
}

function changeInfo(name){
	info = [name, document.getElementById(name + "nutrition"), document.getElementById(name + "nutrition"), document.getElementById(name + "debt"), document.getElementById(name + "health"),document.getElementById(name + "house")];

    $.post("/update",{info:info},
    function(data, status){
		console.log(data);
		console.log(status);
    });
}

function readData(name){
	$("button").click(function(){
    	$.get("/read", {},
    		function(data, status){
       		alert("Data: " + data + "\nStatus: " + status);
       		return data;
    		}
    	);
	});
}

</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</body>
</html>
